
.d-inline-block align-text-top{
    display: inline-block;
    vertical-align: text-top;
    font-family: 'Lobster', cursive;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    top:58px;
    left:0px;
    padding:10px;
}

.fs12{
    font-size: 12px;
}
.fs15{
    font-size: 0.9375rem;
}

.fw300{
    font-weight: 300;
}
.fw500{
    font-weight: 500;
}
/*CSS DE INDEX*/

