{% extends "base.html" %} 
{% load static %}
{% block title %}Acerca de Nostros{%endblock %} 
{% block content %} 
<body>
    <section class="page-header page-header-modern section position-relative border-0 m-0" style="background-image: url(../media/redtiendas/portada-red.png); background-position: center; background-size: cover;">
        <div class="container position-relative pb-5 mb-5">
    
          <div class="row text-center text-md-start py-2">
            <div class="col p-relative bottom-5">
              <ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
                <li><a href="/" class="text-decoration-none text-default">Home</a></li>
                <li class="active">Acerca de Nosotros</li>
              </ul>
              <h1 class="font-weight-bold text-color-dark text-10 mt-1 mb-0">Acerca de Nosotros</h1>
            </div>
          </div>
        </div>
      </section>

</body>

{%endblock %}