{% extends "base.html" %} 
{% load static %}
{% block title %}Nuestras Tiendas{%endblock %} 
{% block content %} 
<body>
    <section class="page-header page-header-modern section position-relative border-0 m-0" style="background-image: url(../media/redtiendas/portada-red.png); background-position: center; background-size: cover;">
        <div class="container position-relative pb-5 mb-5">
    
          <div class="row text-center text-md-start py-2">
            <div class="col p-relative bottom-5">
              <ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
                <li><a href="/" class="text-decoration-none text-default">Home</a></li>
                <li class="active">Red de Tiendas</li>
              </ul>
              <h1 class="font-weight-bold text-color-dark text-10 mt-1 mb-0">Red de Tiendas</h1>
            </div>
          </div>
        </div>
      </section>


      <section class="section bg-transparent position-relative border-0 m-0 p-0">
        <div class="container custom-container-background custom-z-index-1 py-5">
            <div class="row position-relative z-index-1 pt-5-5">
                <div class="col">

                    <h2 class="text-color-dark font-weight-medium text-8 mb-4-5">Puedes encontrarnos en <strong>Nuestra Red de Tiendas</strong></h2>
                    <p class="text-4-5 line-height-8 mb-4">Sucursal Padre Alonso de Ovalle</p>

                    

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        
    

        

        <!--Google map-->
        <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.077690870297!2d-70.65978848498058!3d-33.4472823807749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c507f91be917%3A0xcfac72a68dd4b986!2sDuoc%20UC%20-%20Sede%20Padre%20Alonso%20de%20Ovalle!5e0!3m2!1ses!2scl!4v1654566549011!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>  
        <!--Google Maps-->
        <p>Estamos a pasos del metro Moneda.</p>
    </div>
</body>
{%endblock %}