{% extends "../sub_base.html" %}
{% block title %}Editar Perfil{% endblock %}
{% block sub_content %}

<form class="account-form" method="post" enctype="multipart/form-data">
    {% if user_form.is_valid and profile_form.is_valid  %}
    <div class="alert alert-primary" role="alert">
        ¡Datos actualizados con éxito!
    </div>
    <p class="small text-center pt-0">
        <a href="{% url "account:dashboard" %}">Volver a mi Panel</a>
    </p>
    {%else%}
    <h3>Editar tu información</h3>
    <p>Puedes editar tu cuenta usando el siguiente formulario:</p>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Por favor reintente más tarde.
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
    {{ user_form.email }}
    <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
    {{ user_form.first_name }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Save changes">Guardar
        Cambios</button>
    <hr class="mb-3">
</form>
<form class="account-form" action="{% url "account:delete_user" %}" method="post">
    {% csrf_token %}
    <p class=" h3 pt-4 font-weight-bold">Eliminar mi cuenta</p>
    <p>¿Estás seguro(a) de que quieres eliminar tu cuenta?</p>
    <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Eliminar</button>
</form>

{% endblock %}