{% extends "base.html" %}
{% block title %}Óptica - Mejora tu vista!{% endblock %}
{% block content %}
<div role="main" class="main shop pt-4">
  {% comment %} ACÁ SE INSERTA LA IMAGEN DE FONDO {% endcomment %}
  <section class="page-header page-header-modern section position-relative border-0 m-0 " style="background-image: url(static/core/images/kk.webp); background-position: center; background-size: cover;">
    <div class="container position-relative pb-5 mb-5">
      
      <div class="row text-center text-md-start py-2">
        <div class="col p-relative bottom-5">
          <ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
            <li><a href="/" class="text-decoration-none text-default">Home</a></li>
            <li class="active">Nuestra Tienda</li>
          </ul>
          
          <h1 class="font-weight-bold text-color-white text-10 mt-1 mb-0">Potencia tus ventas al menos un 200%</h1>
          <br>
          <h1 class="font-weight-bold text-color-white text-10 mt-1 mb-0">Con una pagina web potente</h1>
        </div>
      </div>
    </div>
  </section>
  

      <div class="container">       

        <div class="my-5 py-5">
          <h1 class="h1">Precios de suscripciones</h1>
        </div>

          <div class="row">
              <div class="col-lg-12">
                  <div class="masonry-loader masonry-loader-showing">
                      <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">

                                  {% for product in products%}
                                  <div class="col-sm-6 col-lg-4">
                                      <div class="product mb-0">
                                          <div class="product-thumb-info border-0 mb-3">

                                              <div class="product-thumb-info-badges-wrapper">
                                                  <span class="badge badge-ecommerce badge-success">NEW</span>

                                              </div>

                                              <div class="addtocart-btn-wrapper" >
                                                  <a href="" class="text-decoration-none addtocart-btn" title="Añadir al Carrito">
                                                      <i class="icons icon-bag"></i>
                                                </a>
                                              </div>

                                              <a href="{{ product.get_absolute_url }}" class="quick-view text-uppercase font-weight-semibold text-2">
                                                  VER
                                              </a>
                                              <a href="{{ product.get_absolute_url }}">
                                                  <div class="product-thumb-info-image">
                                                      {%if product.image%}
                                                          <img class="" src="{{ product.image.url }}" height="150" weight="250" alt="">
                                                      {%endif%}

                                                  </div>
                                              </a>
                                          </div>
                                          <div class="d-flex justify-content-between">
                                              <div>
                                                  <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{product.category}}</a>
                                                  <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="{{ product.get_absolute_url }}" class="text-color-dark text-color-hover-primary">{{product.title}}</a></h3>
                                              </div>
                                              <a href="#" class="text-decoration-none text-color-default text-color-hover-dark text-4"><i class="far fa-heart"></i></a>
                                          </div>
                                          <div title="Rated 5 out of 5">
                                              <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                                          </div>
                                          <p class="price text-5 mb-3">
                                              <span class="sale text-color-dark font-weight-semi-bold">${{product.price|floatformat:0}}</span>
                                              <!--<span class="amount">100.00</span>-->
                                          </p>
                                      </div>
                                  </div>
                                  {%endfor%}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {% comment %} ACÁ SE INSERTA LA OTRA IMAGEN DE FONDO {% endcomment %}
      <section class="page-header page-header-modern section position-relative border-0 mt-5" style="background-image: url(static/core/images/top.jpg); background-position: center; background-size: cover;">
        <div class="container position-relative pb-5 mb-5">
    
          <div class="row text-center text-md-start py-2">
            <div class="col p-relative bottom-5">
              <a href="{% url "account:register" %}"><h1 class="font-weight-bold text-color-dark text-7 mt-5 mb-0">Regístrate Aquí y Recibe todas nuestras Ofertas</h1></a>
            </div>
          </div>
        </div>
      </section>
      <div>
        <section class="contenedor sobre-nosotros">
              <h2 class="titulo">Nuestro servicio</h2>
              <div class="contenedor-sobre-nosotros">
                <img src="static/core/images/woman-glasses.jpg" alt="" class="imagen-about-us">
                <div class="contenido-texto">
                    <h3><span>1</span>los mejores servicios</h3>
                    <p>Implementamos soluciones de Comercio Electrónico en dos sabores diferentes
                      Conocemos las problemáticas más comunes que enfrentan las
                       empresas de diferentes tamaños al momento de implementar soluciones de 
                       comercio electrónico, y asesoramos para llevar a cabo los procesos online
                       y offline asociados a estas actividades.
                      
                      Entregamos servicios de Diseño, Ingeniería, y Marketing, para realizar 
                      proyectos donde Internet es el canal de comunicación. Complementamos 
                      nuestros esfuerzos con productos (herramientas de software) desarrollados,
                      para entregar soluciones rápidas y personalizadas.
                      
                      Hemos desarrollado un grupo de Herramientas orientadas a satisfacer 
                      Diversas Necesidades dentro de las Empresas, todas en Ambiente Web, 
                      sobre plataformas de Código Abierto. Complementamos nuestros Productos 
                      con servicios de Diseño e Ingeniería, para Personalizarlos e Integrarlos 
                      a sistemas o procesos externos.</p>
                                     
                </div>
              </div> 
        </section>
        <section class="portafolio">
          <div class="contenedor">
            <h2 class="titulo">Portafolio</h2>
            <div class="galeria-port">
              <div class="imagen-port">
                <img src="static/core/images/imagenSolux.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/inscripcion.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/proveedor.png" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/quien.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/RR.webp" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/S.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/top.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              <div class="imagen-port">
                <img src="static/core/images/vitrina.jpg" alt="">
                <div class="hover-galeria">
                  <img src="static/core/images/R.jpg" alt="">
                  <p>Nuestro trabajo</p>
                </div>
                                                   
              </div>
              
              
              
            </div>
            </div>
          </div>
        </section>
        
        <section class="clientes contenedor">
          <h2 class="titulo">Que dicen nuestros clientes</h2>
          <div class="cards">
            <div class="card">
                <img src="static/core/images/hombre.png" alt="">
                <div class="contenido-texto-card">
                  <h4>Alejandro Yañez</h4>
                  <p>la experiencia fue excelente con el equipo, desde el primer
                    dia entregaron apoyo, entregaban sugerencias y respondian todas las dudas 
                    que se generaban en el avance.</p>

              </div>
                
              </div>
            </div>

        </section>
              <section class="clientes contenedor">
                <h2 class="titulo">Que dicen nuestros clientes</h2>
                <div class="cards">
                    <div class="card">
                          <img src="static/core/images/mujer.jfif" alt="">
                          <div class="contenido-texto-card">
                            <h4>Carla Sepulveda</h4>
                            <p>Excelente empresa, muy profesionales y siempre dispuestos a 
                              comunicarse para aclara dudas, prestar consejos y atender a las necesidades 
                              del cliente.</p>
            
                          </div>
                      
                    </div>         
                  </div>
            </section>
            <section class="page-header page-header-modern section position-relative border-0 m-0 " style="background-image: url(static/core/images/saas.jpg); background-position: center; background-size: cover;">
              <div class="container position-relative pb-5 mb-5">
                
                <div class="row text-center text-md-start py-2">
                  <div class="col p-relative bottom-5">
                                       
                    
                  </div>
                </div>
              </div>
            </section>
      </div>
</div>

<script>
  $(document).on('click', '#add-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: $('#add-button').val(),
        productqty: $('#select option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>

  {% endblock %}