{% extends "../base.html" %}
{% load static %} 
{% block stylesheet %}{% static 'store/css/store.css' %}{% endblock %}
{% block title %}
{% if product %}{{ product.title }}{% else %}Producto{% endif %}
{% endblock %}
{% block content %}

<!---->
<div class="body">
<div role="main" class="main shop pt-4">

  <div class="container">

    <div class="row">
      <div class="col">
        <ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4">
          <li><a href="{% url "store:store_home" %}" class="text-color-default text-color-hover-primary text-decoration-none">Inicio</a></li>
          <li><a href="{% url "store:store_home" %}" class="text-color-default text-color-hover-primary text-decoration-none">Tienda</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-5 mb-md-0">

        <div class="thumb-gallery-wrapper">
          <div class="mb-3">
            <div>
              <img alt="Vista Previa Producto" class="img-fluid" src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}">
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-7">

        <div class="summary entry-summary position-relative">

          <h1 class="mb-0 font-weight-bold text-7">{{ product.title }}</h1>

          <div class="pb-0 clearfix d-flex align-items-center">
            <div class="review-num">
              <a href="#description" class="text-decoration-none text-color-default text-color-hover-primary" data-hash data-hash-offset="0" data-hash-offset-lg="75" data-hash-trigger-click=".nav-link-reviews" data-hash-trigger-click-delay="1000">
                <span class="count text-color-inherit" itemprop="ratingCount">(2</span> comentarios)
              </a>
            </div>
          </div>

          <div class="divider divider-small">
            <hr class="bg-color-grey-scale-4">
          </div>

          <p class="price mb-3">
            <span class="sale text-color-dark">${{ product.price|floatformat:0}}</span>
          </p>

          <ul class="list list-unstyled text-2">
            <li class="mb-0">Stock: <strong class="text-color-dark">Disponible</strong></li>
            <li class="mb-0">SKU: <strong class="text-color-dark">1234567890</strong></li>
          </ul>

        </div>

        <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
          <div class="d-grid gap-2">
            <div class="d-flex d-flex-inline justify-content-between">
              <div>
                <label for="select">Cantidad </label>
                <select id="select" class="h6 store-select-dropdown">
                  <option value="1">1</option>
                </select>
              </div>
            </div>
            <hr>
            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-success fw500">
              Agregar al Carrito</button>
            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-light fw500">Agregar a
              Favoritos</button>
          </div>
        </div>
</div>
</div>
<!---->

<script>
  $(document).on('click', '#add-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: $('#add-button').val(),
        productqty: $('#select option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>

{% endblock %}